<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-4 py-3 w-1/3 text-left">Nome immagine</th>
      <th scope="col" class="px-4 py-3 w-1/3 text-left">Data caricamento</th>
      <th scope="col" class="px-4 py-3 w-1/3 text-center">Anteprima</th>
      <th scope="col" class="px-4 py-3 w-1/12 text-left">
        <span class="sr-only">Azioni</span>
      </th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y dark:bg-gray-800 dark:divide-gray-700">
    <% if (files.length === 0) { %>
    <tr>
      <td colspan="4" class="px-4 py-3 text-center text-gray-500 dark:text-gray-400">
        Nessuna immagine trovata.
      </td>
    </tr>
    <% } else { %>
    <% files.forEach(file => { %>
    <tr class="border-b dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">
      <td class="px-4 py-3 w-1/3 text-left font-medium text-gray-900 dark:text-white">
        <%= file.filename %>
      </td>
      <td class="px-4 py-3 w-1/3 text-left font-medium text-gray-900 dark:text-white">
        <%= file.uploadedAt %>
      </td>
      <td class="px-4 py-3 w-1/3 text-center">
        <img src="<%= file.url %>" alt="<%= file.filename %>" class="h-auto max-h-24 mx-auto">
      </td>
      <td class="px-4 py-3 w-1/12">
        <div class="flex space-x-2">
          <button onclick="downloadImage('<%= file.downloadUrl %>')" class="inline-flex items-center p-0.5 text-sm font-medium text-center rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" type="button">
            <svg class="w-6 h-6 text-gray-500 hover:text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01" />
            </svg>
          </button>
          <button title="Elimina" onclick="salvaUrlImmagineDaEliminare('<%= file.filename %>')" class="inline-flex items-center p-0.5 text-sm font-medium text-center rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" type="button">
            <svg class="w-6 h-6 text-red-500 hover:text-red-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
            </svg>
          </button>
        </div>
      </td>
    </tr>
    <% }); %>
    <% } %>
  </tbody>
</table>