<%- include('partials/header') -%>

<div class="relative p-4 bg-white rounded-lg dark:bg-gray-800 sm:p-5">
  <form action="./banner" method="POST">
    <div class="grid gap-4 mb-6 sm:grid-cols-3">
      <div class="sm:col-span-2">
        <label for="img1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Immagine 1</label>
        <input onclick="salvaIdImmagine(1)" data-modal-target="modal-immagini" data-modal-toggle="modal-immagini" required type="text" name="img1" id="img1" value="<%= banner.img1 %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Scegli immagine">
      </div>
      <div class="sm:col-span-1 flex justify-center items-center">
        <img id="imgPreview1" src="<%= banner.img1 %>" class="max-w-full h-auto max-h-24">
      </div>
      <div class="sm:col-span-2">
        <label for="img2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Immagine 2</label>
        <input onclick="salvaIdImmagine(2)" data-modal-target="modal-immagini" data-modal-toggle="modal-immagini" required type="text" name="img2" id="img2" value="<%= banner.img2 %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Scegli immagine">
      </div>
      <div class="sm:col-span-1 flex justify-center items-center">
        <img id="imgPreview2" src="<%= banner.img2 %>" class="max-w-full h-auto max-h-24">
      </div>
      <div class="sm:col-span-2">
        <label for="img3" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Immagine 3</label>
        <input onclick="salvaIdImmagine(3)" data-modal-target="modal-immagini" data-modal-toggle="modal-immagini" required type="text" name="img3" id="img3" value="<%= banner.img3 %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Scegli immagine">
      </div>
      <div class="sm:col-span-1 flex justify-center items-center">
        <img id="imgPreview3" src="<%= banner.img3 %>" class="max-w-full h-auto max-h-24">
      </div>
      <div class="sm:col-span-2">
        <label for="img4" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Immagine 4</label>
        <input onclick="salvaIdImmagine(4)" data-modal-target="modal-immagini" data-modal-toggle="modal-immagini" required type="text" name="img4" id="img4" value="<%= banner.img4 %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Scegli immagine">
      </div>
      <div class="sm:col-span-1 flex justify-center items-center">
        <img id="imgPreview4" src="<%= banner.img4 %>" class="max-w-full h-auto max-h-24">
      </div>
      <div class="sm:col-span-2">
        <label for="img5" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Immagine 5</label>
        <input onclick="salvaIdImmagine(5)" data-modal-target="modal-immagini" data-modal-toggle="modal-immagini" required type="text" name="img5" id="img5" value="<%= banner.img5 %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Scegli immagine">
      </div>
      <div class="sm:col-span-1 flex justify-center items-center">
        <img id="imgPreview5" src="<%= banner.img5 %>" class="max-w-full h-auto max-h-24">
      </div>
    </div>
    <div class="mt-8 flex justify-center">
      <button type="submit" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-base px-5 py-2.5 text-center me-2 mb-2">
        Applica modifiche
      </button>
    </div>
  </form>
</div>

<input type="hidden" id="idImmagine" />

<%- include('partials/modal_immagini') -%>


<%- include('partials/footer') -%>