<%- include('partials/header') -%>

  <h1 class="text-4xl mb-4">Benvenuto <%= user.nickname %></h1>

  <% if (user.picture) { %>
    <img class="block py-3" src="<%= user.picture %>" width="300">
  <% } %>
  
  <div class="py-3">
    <p class="mb-2">Informazione utente:</p>
    <div class="bg-gray-200 p-4 rounded-lg shadow-md">
      <div class="mb-2">
        <strong>Email:</strong> <%= user.email %>
      </div>
      <div class="mb-2">
        <strong>Nome:</strong> <%= user.name %>
      </div>
      <div class="mb-2">
        <strong>Email verificata:</strong> <%= user.email_verified ? 'Si' : 'No' %>
      </div>
    </div>
  </div>

<%- include('partials/footer') -%>
